* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: auto;
  background-color: blueviolet;
  background-image: linear-gradient(45deg, blueviolet 0%, tomato 100%);
}

img {
  max-width: 100%;
  border-radius: 0.5rem;
}

.pricing {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 2rem;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 320px;
  height: auto;
  background-color: #f9f9f9;
  border-radius: 20px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  padding: 2rem;
  margin: 1rem;
  transition: all 0.2s ease-in;
}

.card-wrapper:hover {
  transform: scale(1.1);
}

.card-header {
  margin: 1rem;
  text-align: center;
}

.card-wrapper:hover .card-header > h2 {
  transform: scale(1.1);
  color: blueviolet;
  letter-spacing: 2;
}

.card-header > img {
  width: 200px;
  display: block;
  margin: 0 auto;
}

.card-detail {
  width: 100%;
}

.card-detail > p {
  padding: 0.6rem 1.5rem;
  font-size: 0.8rem;
  border-bottom: 1px solid #d5d5d5;
}

.check {
  color: blueviolet;
}

.nocheck {
  color: tomato;
}

.card-detail > p:hover {
  background-color: #d5d5d5;
}

.card-price {
  display: block;
  /* direction: row; */
  /* align-items: flex-start; */
  margin: 1rem;
}

.card-price > h3 {
  font-size: .8rem;
  font-weight: 600;
}

.card-price > p {
  font-size: 1.5rem;
  font-weight: 700;
}

.card-price > p > sup,
.card-price > p > sub {
  font-size: 1rem;
}

.card-button {
  padding: 0.6rem 3rem;
  border: 2px solid blueviolet;
  background-color: blueviolet;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  transition: all 50ms ease-in;
  font-weight: 600;
  margin-bottom: 16px;
}

.card-button:hover {
  border: 2px solid  hsl(271, 76%, 40%);
  background-color: hsl(271, 76%, 40%);
  color: white;
  font-weight: 600;
}

.ml-button {
  padding: 0.6rem 3rem;
  border: 2px solid blueviolet;
  background-color: transparent;
  color: blueviolet;
  border-radius: 30px;
  cursor: pointer;
  transition: all 50ms ease-in;
  font-weight: 600;
}

.ml-button:hover {
  border: 2px solid tomato;
  color: tomato;
  font-weight: 600;
}  